* {
    padding: 0px; 
}

body {
    background-color: rgb(15, 23, 42);
    color: white;
    font-family: Inter, Roboto, Helvetica, Arial, sans-serif;
    margin: 0px;

}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: rgba(30, 41, 59, 0.8);
    justify-content: space-around;
    padding: 0px 15px;
}

nav a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 0.875em;
}

.pink {
    background-color: rgb(236, 72, 153);
    border-radius: 5px;
}



svg {
    font-size: 24px;
    height: 24px;
    fill: rgb(236, 72, 153);
}

.white {
    fill: white;
}

h1 {
    color:rgb(236, 72, 153);
    padding-top: 60px;
    font-size: 3em;
    margin: 0px;
}

p {
    font-size: 1em;
    padding: 10px;
}

.btn a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 8px 30px;
    font-size: 0.8em;
    border: 1px solid rgb(236, 72, 153);
    border-radius: 5px;
}

.btn {
    gap: 10px;
}

#pink-text {
    color:rgb(236, 72, 153);
}

.navalny {
    padding-top: 30px;
}

.cover {
    flex-direction: column;
}

.grid {
    display: grid;
    width: 80%;
}

.poxel {
    width: 1.75vw;
    height: 1.75vw;
    border: 1px solid grey;
    border-top: 1px solid grey;
    box-sizing: border-box;
    background-color: rgba(30, 41, 59, 0.8);
}

.poxel:hover {
    background-color: white;
    opacity: 0.5;
}

.editor {
    height: 90vh;
    width: 90vw;
    justify-content: center;
    gap: 10px;
}

.vertical {
    flex-direction: column;
}

.instruments p {
    margin: 0px;
}

input {
    all: unset;
    border: none;
    width: 24px;
    height: 28px;
}